## Install packages

## Project Outline

### Business Understanding
- Goal
- Hypothesis
- Analytical Questions
- Stakeholders input

### Data Understanding
- import packages
- Load Data
- EDA (check head, shape, info, describe, duplicates, null values etc)
- Univariate Analysis (Histogram, Box plots, outlier checks, density plots)
- Bivariate Analysis (Pair plots, Correlation heatmap, Bar charts)
- Multivariate Analysis (PCA)
- Answer Analytical questions
- Test hypothesis

### Data Preparation
- Check if dataset is ballanced (Visualisation)
- Split data into x and y, (training and evaluation)
- Encoding y and categorical variables
- Create Transformers (imputation and scaling)

### Modelling & Evaluations
- Chose models to train (distance, gradient descent, tree based +)
- Train on unbalanced dataset
- Train on balanced dataset
- Hyperparemeter tuning
- Model persistance


In the 2022 State of Customer Churn in Telecom survey, it was found that customer loyalty to telecom providers is down 22% post-pandemic, with customer stickiness being impacted more by the customer experience than ever. Further, customers are now more price sensitive, with 58% perceiving telco offerings as expensive
[1:51 PM] Victor Nyarko Anim
Source:https://www.akkio.com/post/telecom-customer-churn#:~:text=In%20the%202022%20State%20of,the%20customer%20experience%20than%20ever.

The Machine Learning Revolution: Telco Customer Churn Prediction
Machine learning can be a powerful tool for telcos to predict churn and keep their customers. Learn more about how ML and Akkio can reduce churn.

### Data Understanding

#### Step 3 - Import all the necessary packages

In [25]:
import pyodbc    
from dotenv import dotenv_values
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

### Loading Datasets

#### Create a connection by accessing your connection string with your defined environment variables

In [26]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [27]:
connection = pyodbc.connect(connection_string)

In [28]:
#Reading data from SQL server
query = "Select * from dbo.LP2_Telco_churn_first_3000"

telco_churn_sql = pd.read_sql(query, connection)

In [29]:
#dataset fromGitHub

telco_churn_git=pd.read_csv('data/telco_churn_git.csv')

In [30]:
telco_churn_sql.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.50,False

In [31]:
telco_churn_git.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.5,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.0,1046.5,Yes

In [58]:
#Making copies of data frames

churn_sql=telco_churn_sql.copy()
churn_git=telco_churn_git.copy()

### EDA

In [59]:
churn_sql.shape

(3000, 21)

In [60]:
churn_git.shape

(2043, 21)

**Observations**
- The dataset from SQL is made up of 3000 rows and 21 columns
- The dataset from GitHub is made up of 2043 rows and 21 columns

In [105]:
churn_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   object
 3   Partner           3000 non-null   object
 4   Dependents        3000 non-null   object
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   object
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   object
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 492.3+ KB

In [62]:
churn_git.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

**Observations**
- Both datasets have the same number of columns and the same column names
- The data from SQL have 5 bool, 2 float, 1 int64 and 13 object data types
- The data from GitHub have 1 float, 2 int64, and 18 object

**Investigating and correcting columns with wrong data types**

In [63]:
# Set display options to show all columns
pd.set_option('display.max_columns', None)


churn_sql.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [64]:
churn_git.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,No,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

- We can observe that all the following columns in the dataset from SQL (telco_churn_sql) **SeniorCitizen, Partner, Dependents, PhoneService, MultipleLines, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, PaperlessBilling and Churn** contains **True and False** values where as the same columns in dataset from Github (telco_churn_git) apart from **SeniorCitizen** which is made up of categoricals (0 & 1), all others contains **Yes and No**, in order to concatenate both dataframes into one dataset, we will have to assign **True to Yes and False to No**, as well as correct the data types accordingly.

- **tenure** in bothe datasets is int64 type

- **MonthlyCharges** in bothe datasets is float type, which is correct after investigating the values.

- **TotalCharges** is a float in telco_churn_sql dataset where as it is an object type in telco_churn_git, upon investigating the values it is supposed to be a float type, we will therefore rectify this before concatenating the datasets.

**Checking if there are duplicates in the datasets**

In [99]:
churn_sql.duplicated().sum()

0

In [100]:
churn_git.duplicated().sum()

0

- there are no duplicates in both datasets

**Checking if there are missing values in the datasets**

In [108]:
churn_sql.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [109]:
churn_git.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

**Observations**

- The data frame from GitHub (churn_git) contains no missing values
- The data frame from SQL server contains missing values
- We will fill this values with the most frequent value in each column

In [110]:
churn_sql.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
customerID,3000,3000,7590-VHVEG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,3000,2,Male,1537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SeniorCitizen,3000,1,No,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Partner,3000,1,No,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dependents,3000,1,No,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,3000.0,NaN,NaN,NaN,32.527333,24.637768,0.0,9.0,29.0,56.0,72.0
PhoneService,3000,1,No,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MultipleLines,2731,2,False,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InternetService,3000,3,Fiber optic,1343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineSecurity,2349,2,False,1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineBackup,2349,2,False,1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceProtection,2349,2,False,1296,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TechSupport,2349,2,False,1476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingTV,2349,2,False,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingMovies,2349,2,True,1199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contract,3000,3,Month-to-month,1641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaperlessBilling,3000,1,No,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,3000,4,Electronic check,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyCharges,3000.0,NaN,NaN,NaN,65.3474,30.137053,18.4,35.787499,70.900002,90.262501,118.650002
TotalCharges,2995.0,NaN,NaN,NaN,2301.278315,2274.987884,18.799999,415.25,1404.650024,3868.725098,8564.75
Churn,2999,2,False,2219,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
#Changing the column values of telco_churn_sql from True and False to Yes and No

churn_sql['Partner']=churn_sql['Partner'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['PaperlessBilling']=churn_sql['PaperlessBilling'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['PhoneService']=churn_sql['PhoneService'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['SeniorCitizen']=churn_sql['SeniorCitizen'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['Dependents']=churn_sql['Dependents'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')


churn_sql['MultipleLines']=churn_sql['MultipleLines'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['OnlineSecurity']=churn_sql['OnlineSecurity'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['OnlineBackup']=churn_sql['OnlineBackup'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['DeviceProtection']=churn_sql['DeviceProtection'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['TechSupport']=churn_sql['TechSupport'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['StreamingTV']=churn_sql['StreamingTV'].astype(str).fillna('No').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['StreamingMovies']=churn_sql['StreamingMovies'].astype(str).fillna('Yes').apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')
churn_sql['Churn']=churn_sql['Churn'].astype(str).apply(lambda x: 'Yes' if 'true' in x.lower() else 'No')

In [117]:
churn_sql.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,No,No,1,No,No,DSL,No,No,No,No,No,No,Month-to-month,No,Electronic check,29.850000,29.850000,No
1,5575-GNVDE,Male,No,No,No,34,No,No,DSL,No,No,No,No,No,No,One year,No,Mailed check,56.950001,1889.500000,No
2,3668-QPYBK,Male,No,No,No,2,No,No,DSL,No,No,No,No,No,No,Month-to-month,No,Mailed check,53.849998,108.150002,No

**Concatenating dataframes**

In [118]:
df_churn= pd.concat([churn_sql, churn_git])

In [119]:
df_churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,No,No,1,No,No,DSL,No,No,No,No,No,No,Month-to-month,No,Electronic check,29.850000,29.85,No
1,5575-GNVDE,Male,No,No,No,34,No,No,DSL,No,No,No,No,No,No,One year,No,Mailed check,56.950001,1889.5,No
2,3668-QPYBK,Male,No,No,No,2,No,No,DSL,No,No,No,No,No,No,Month-to-month,No,Mailed check,53.849998,108.150002,No
3,7795-CFOCW,Male,No,No,No,45,No,No,DSL,No,No,No,No,No,No,One year,No,Bank transfer (automatic),42.299999,1840.75,No
4,9237-HQITU,Female,No,No,No,2,No,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,70.699997,151.649994,No

In [121]:
df_churn.shape

(5043, 21)

In [122]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   object
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     5043 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    5043 non-null   object
 10  OnlineBackup      5043 non-null   object
 11  DeviceProtection  5043 non-null   object
 12  TechSupport       5043 non-null   object
 13  StreamingTV       5043 non-null   object
 14  StreamingMovies   5043 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5043 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 866.8+ KB

- We observe TotalCharges is an object type instead of float, i will then convert to the type to float

In [125]:
df_churn['TotalCharges'].unique()

array([29.850000381469727, 1889.5, 108.1500015258789, ..., '346.45',
       '306.6', '6844.5'], dtype=object)

In [129]:
df_churn['TotalCharges']=pd.to_numeric(df_churn['TotalCharges'])

In [130]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   object
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     5043 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    5043 non-null   object
 10  OnlineBackup      5043 non-null   object
 11  DeviceProtection  5043 non-null   object
 12  TechSupport       5043 non-null   object
 13  StreamingTV       5043 non-null   object
 14  StreamingMovies   5043 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5035 non-null   float64
 20  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 866.8+ KB

In [131]:
df_churn.duplicated().sum()

0

In [132]:
df_churn.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

- There no missing and duplicated values

#### Univariate Analysis 

- (Histogram, Box plots, outlier checks, density plots)

In [116]:
'''
for column in churn_sql.columns:
        # Replace True with Yes and False with No in each column
    for x in churn_sql[column]:
        if x=='True':
            churn_sql[column] = churn_sql[column].replace('True', 'Yes')
        elif x=='False':
            churn_sql[column] = churn_sql[column].replace('False', 'No')
        else:
            x 
            '''

"\nfor column in churn_sql.columns:\n        # Replace True with Yes and False with No in each column\n    for x in churn_sql[column]:\n        if x=='True':\n            churn_sql[column] = churn_sql[column].replace('True', 'Yes')\n        elif x=='False':\n            churn_sql[column] = churn_sql[column].replace('False', 'No')\n        else:\n            x \n            "